<% @page_title = "Create Prospect" %>

<%= link_to("<< Back to List", {:action => 'list'}, :class => 'back-link') %>

<div class="subject new">
  <h2>Create Prospect</h2>

  <%= form_for(:cdl, :url => {:action => 'create'}) do |f| %>
  
    <%= render(:partial => "form", :locals => {:f => f}) %>
    
    <div class="form-buttons">
      <%= submit_tag("Create Prospect") %>
    </div>
    
  <% end %>
</div>
