/* Admin stylesheet       */
/* loads after public.css */

/* Structure */

.login form { margin: 50px 250px; }
.menu .identity { text-align: center; }
.menu ul { margin: 3em 250px; list-style: none; }
.menu ul li { margin-bottom: 1em; }

a { text-decoration: none; }
a:hover { text-decoration: underline; }

/* large action buttons */
a.action { float: right; font-weight:bold;
  color:white;
  text-decoration:none;
  margin-left: 14px;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 2px;
  padding-bottom: 2px;
  background-color:#65B7FD;
  border-radius: 4px;
  box-shadow: 0px 0px 3px 1px #333;
  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0, #5470A8),
    color-stop(0.62, #9CB0FF)
    );
  background-image: -moz-linear-gradient(
    center bottom,
    #5470A8 0%,
    #9CB0FF 62%
    );
  text-align:center;
}
a.action:hover { color: lightblue; }
a.actiony { width: 760px; text-align: center; color: white;}
a.actiony:hover {text-decoration: none}

/* small action buttons */
.actions { width: 245px;}
.actions a.action { float: left; min-width: .5em; 
  padding: 1px 3px; margin: 2px 5px; font-size: 0.7em; }

/* CRUD */
a.back-link { color: black; font-size: 0.8em; margin-bottom: 1em; }
.form-buttons { text-align: center; margin: 1em 0; }

.list table { clear: both; width: 100%; }
.list table tr td { border: 1px solid #666666; }
.show table { clear: both; margin: 0 200px; width: 300px; }
.show table.wide { width: 600px; margin: 0 50px; }
.show table tr th { white-space: nowrap; padding-right: 5px;}
.show table tr td { border: 1px solid #666666; }
.edit table, .new table { margin: 0 auto; }

.odd { background: #9BC6FF; }
.even { background: none; }

.section + .section { padding-top: 0.5em; margin-top: 0.5em; 
  border-top: 1px dotted #666666; }

/* Errors */
.fieldWithErrors { display: table; padding: 2px; background-color: #AA0000; }
.field_with_errors { display: table; padding: 2px; color: #AA0000; }
#errorExplanation { width: 400px; padding: 0; margin: 0 auto 1.5em; 
  border: 1px solid #AA0000; background-color: #FFFFFF; font-size: 12px; }
#errorExplanation h2 { font-weight: bold; font-size: 12px;
  padding: 5px 5px 5px 15px; margin: 0; width: 380px;
  background-color: #AA0000; color: #FFFFFF; }
#errorExplanation p { color: #333333; margin: 0; padding: 3px 0.5em; }
#errorExplanation ul { margin-top: 0; }
#errorExplanation ul li { list-style: square; }
