/* Public stylesheet */

/* Colors
red:          #993120
green:        #94B26F
light green:  #B6D491
yellow:       #F2DC87
dark brown:   #332318
light brown:  #4C2516
---------------------------------------------------------------------*/

html { height: 100%; width: 100%; }
body { width: 100%; min-width: 980px; height: 100%; margin: 0; padding: 0; 
  font: 14px Verdana,Lucida,Arial,Helvetica,sans-serif; color: #332318; background-color: white }
p, td, ul, ol, li, dl, dt, dd { 
  font-family: Verdana,Lucida,Arial,Helvetica,sans-serif; }
img { border: none; }
table { border-collapse: collapse; }
table tr th, table tr td { vertical-align: top; text-align: left; 
  padding: 3px; }
a, a:visited { color: white; }


a.actiony { width: 760px; text-align: center; color: white;text-shadow: 2px 2px 2px black; text-decoration:none;}
a.actiony:hover {text-decoration: none}

span.status {display: block; width: 10px; height: 10px; margin: 0.25em auto; padding: 0; -moz-border-radius: 10px; -webkit-border-radius: 10px; border-radius: 10px; border: 1px solid black;}
span.status.true {background: rgb(102,110,255); color: rgb(102,110,255)}
span.status.false {background: red; color: red}

.clear { clear: both; }
.center { text-align: center; }
.logo { border: none;}


/* Structure --------------------------------------------------------*/
#header { 
	height: 4em; 
	margin-bottom:1.5em;
	padding-top: 1em; 
	text-align: center; 
			  background-image: -webkit-gradient(
			    linear,
			    left bottom,
			    left top,
			    color-stop(0, rgb(77,77,77)),
			    color-stop(0.64, rgb(122,122,122)));
			  background-image: -moz-linear-gradient(
			    center bottom,
			    rgb(77,77,77) 0%,
			    rgb(122,122,122) 64%); 
  color: #FFFFFF; 
  box-shadow: 0 0 15px 5px #111;
}

#header h1 { 
	margin: 0; 
	padding: 0;
}

#header a { 
	border: 1px solid black;
	padding-right: 1em;
	padding-left: 1em;
	padding-top: .25em;
	padding-bottom: .25em;
	-moz-border-radius: 15px; -webkit-border-radius:15px; border-radius: 15px;
	text-decoration:none;
	color:black;
	box-shadow: 0 0 3px 1px #111;
}
#header a:hover {
	background:gray;
	color:black;
	box-shadow: inset 0 0 5px 1px #111;
}


#main { 
	min-height: 500px; 
	background: white; 
}

/* Navigation -------------------------------------------------------*/
#navigation { 
	margin-top:10px;
	float: left; 
	width: 180px; 
	min-height: 400px; 
	padding: 10px; 
  background:white; 
  color: #4C2516; 
  /*box-shadow: 0 0 15px 5px #111;*/
  border-right: 1px dotted black;
}
#navigation ul { list-style: none; margin: 0; padding: 0; }
#navigation hr { border: 0;border-bottom: 1px dotted black ;color: black; }
#navigation ul li { margin-bottom: 0.5em; color:#051E3F;}
#navigation ul ul { margin: 0.5em 0 0 1em; font-size: 0.9em; }
#navigation a { color: black; text-decoration: none; padding: 1px 3px;}
#navigation a:hover { color:white; background: gray; }

/* Footer ------------------------------------------------------------*/
#footer { clear: both; 
	height: 5.0em; 
	text-align: right;
  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0, rgb(0,0,0)),
    color-stop(0.64, rgb(102,102,102))
);
background-image: -moz-linear-gradient(
    center bottom,
    rgb(0,0,0) 0%,
    rgb(102,102,102) 64%
);
  color: white;
  box-shadow: 0 0 15px 5px #111; 
}

#footer p { margin: 0; padding: 1.5em 1em; }

/* Content --------------------------------------------------------------*/
#content { padding: 10px; }
#content h2 { color: black; }