/* Public stylesheet */

/* Colors
red:          #993120
green:        #94B26F
light green:  #B6D491
yellow:       #F2DC87
dark brown:   #332318
light brown:  #4C2516
---------------------------------------------------------------------*/
.notice { color: green;}
html { height: 100%; width: 100%; }
body { width: 100%; min-width: 680px; height: 100%; margin: 0; padding: 0; 
  font: 14px Verdana,Lucida,Arial,Helvetica,sans-serif; color: #333; background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0, #5470A8),
    color-stop(0.62, #9CB0FF)
);
background-image: -moz-linear-gradient(
    center bottom,
    #5470A8 0%,
    #9CB0FF 62%
); }
p, td, ul, ol, li, dl, dt, dd { 
  font-family: Verdana,Lucida,Arial,Helvetica,sans-serif; }
img { border: none; }
table { border-collapse: collapse; }
table tr th, table tr td { vertical-align: top; text-align: left; 
  padding: 3px; }
a, a:visited { color: blue;}


a.actiony { width: 760px; text-align: center; color: white;text-shadow: 2px 2px 2px black; text-decoration:none;}
a.actiony:hover {text-decoration: none}

span.status {display: block; width: 10px; height: 10px; margin: 0.25em auto; padding: 0; -moz-border-radius: 10px; -webkit-border-radius: 10px; border-radius: 10px; border: 1px solid black;}
span.status.true {background: rgb(102,110,255); color: rgb(102,110,255)}
span.status.false {background: red; color: red}

.clear { clear: both; }
.center { text-align: center; }


/*  Header
----------------- */
#header {
  width: 902px;
  height: 40px;
  margin-top: 25px;
  margin-left: auto;
  margin-right: auto;
  padding: 12px;
  box-shadow: -1px -1px 6px #333;
  border-radius: 10px 10px 0px 0px;
  background-color: white;
  background-image: url("/images/backer-txt2.jpg");
}

#header ul {
  float:right;
}

#header li a {
  text-shadow: -1px 1px 5px #333;
  font-weight:bold;
  color:white;
  text-decoration:none;
  margin-left: 8px;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 2px;
  padding-bottom: 2px;
  background-color:#65B7FD;
  border-radius: 4px;
  box-shadow: 0px 0px 3px 1px #333;
  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0, #1e6086),
    color-stop(0.62, #6a9CF4)
);
background-image: -moz-linear-gradient(
    center bottom,
    #5470A8 0%,
    #6A99E0 62%
);
}

#header  li a:hover {
  color:lightblue;
}

/*     Main
-------------------- */
#main { 
  padding: 12px;
  width: 900px;
  margin-left: auto;
  margin-right: auto;
	min-height: 250px;
  height:auto;
  background-color: white;
  border: 1px solid gray;
  box-shadow: -1px 1px 6px #333;
  background-color:white;
}


/*    Footer
-----------------*/
#footer { 
  width: 902px;
  height: 25px;
  margin-bottom: 25px;
  margin-left: auto;
  margin-right: auto;
  padding: 12px;
  box-shadow: -1px 3px 6px #333;
  border-radius: 0px 0px 10px 10px;
  text-align:center;
  vertical-align:middle;
  color: white;
  text-shadow: -1px 2px 6px #333;
  background-image: url("/images/backer-txt2.jpg");
}

/*    Content
----------------------*/
#content {
  padding:10px;
}

.button {
  font-weight:bold;
  color:white;
  text-decoration:none;
  margin-left: 14px;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 2px;
  padding-bottom: 2px;
  background-color:#65B7FD;
  border-radius: 4px;
  box-shadow: 0px 0px 3px 1px #333;
  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0, #5470A8),
    color-stop(0.62, #6a99e0)
);
background-image: -moz-linear-gradient(
    center bottom,
    #5470A8 0%,
    #6A99E0 62%
);
}

.button a:hover {
  text-decoration:none;
  color:lightblue;
}

a:visited.button {
  text-decoration:none;
  color:white;
}

.button a {
  text-decoration:none;
  color:white;
}


.bday-header {
  margin-left:auto;
  margin-right:auto;
  width:600px;
  color: white;
  text-shadow:2px 2px 2px #333;
  border: 1px solid #333;
  border-radius:12px;
  background-image: url("/images/backer-txt2.jpg");
  box-shadow: 2px 2px 2px gray;
  padding: 8px;
  text-align:center;
}

.good_birthday {
  font-size:14pt;
  width:350px;
  text-align:center;
  font-weight:bold;
  color: white;
  text-shadow:1px 1px 4px #333;
  border: 1px solid #333;
  border-radius:12px;
background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0.08, rgb(57,73,143)),
    color-stop(1, rgb(130,192,240))
);
background-image: -moz-linear-gradient(
    center bottom,
    rgb(57,73,143) 8%,
    rgb(130,192,240) 100%
);
  box-shadow: 2px 2px 2px gray;
  padding: 24px;
}

.bad_birthday {
  font-size:14pt;
  width:350px;
  text-align:center;
  font-weight:bold;
  color: darkred;
  text-shadow:1px 1px 4px #FFF;
  border: 1px solid #333;
  border-radius:12px;
  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0.08, rgb(166,0,0)),
    color-stop(1, rgb(245,182,182))
);
background-image: -moz-linear-gradient(
    center bottom,
    rgb(166,0,0) 8%,
    rgb(245,182,182) 100%
);
  box-shadow: 2px 2px 2px gray;
  padding: 24px;
}