<% @page_title = "Admin Menu" %>

<div class="menu">
  <h2>This area is for domain management.</h2>
  <p>I shouldn't need to tell you that...</p>
  <p>Actually, you can start being productive by using the links above.</p>
</div>