<h3 style="padding-left: 21%;">Welcome to DillonHafer.com</h3>
<p style="padding-left: 21%;">This site was started to gain experience in Web Application Development using Ruby on Rails 3, CSS, HTML, SQL, and Unobtrusive JavaScript. Currently we only have one application. It's purpose is to manage/track prospective CDL drivers and their progress.</p>
<p style="padding-left: 21%;">This site uses CSS3 and HTML5. We encourage you to use a modern web browser(FireFox 4 / Google Chrome) for the best veiwing experience.</p>
<p style="padding-left: 21%;"><strong>Please contact Dillon for questions.</strong></p>
