<h3 class="toggle">Welcome to DillonHafer.com</h3>
<p>This site was started to gain experience in Web Application Development using Ruby on Rails 3, CSS, HTML, SQL, and JavaScript.</p>
<p>This site uses CSS3 and HTML5. We encourage you to use a modern web browser(<%= link_to "Firefox 5", "http://www.mozilla.com/en-US/firefox/new/" %> / <%= link_to "Google Chrome", "http://www.google.com/chrome/" %>) for the best veiwing experience.</p>
<p><strong>Please contact Dillon for questions.</strong></p>