<style>
.sname {
  list-style-type:none;
}

.linkers a {
  color: black;
}
</style>

<% @subjects.each do |subject| %>
	<li class="sname"><b><%= subject.name %></b></li>
		<ul>
			<% subject.pages.visible.sorted.each do |page| %>
			<li class="linkers"><%= link_to_unless_current(page.name, :action => 'show', :id => page.permalink) %></li>
			<% end %>
		</ul>
	</li>
<% end %>