<script>
 $(document).ready(function(){
    $("ul.subjects").hide();
    $("li.contact").click(function() {$("ul.subjects").fadeToggle('slow');});
    });
</script>
<script>
 $(document).ready(function(){
    $("ul.prospects").hide();
    $("li.prospect").click(function() {$("ul.prospects").fadeToggle('slow');});
    });
</script>


<%  subjects ||= [] %>
<%  cdls ||= [] %>
<ul class="navigation">
<% subjects.each do |subject| %>
	<li class="<%= subject.name.downcase %>"><%= subject.name %></li>
		<ul class="subjects">
			<% subject.pages.visible.sorted.each do |page| %>
			<li><%= link_to_unless_current(page.name, :action => 'show', :id => page.permalink) %></li>
			<% end %>
		</ul>
	</li>
<% end %>
<hr />
		<li class="prospect">CDL Prospects</li>
		<ul class="prospects">
			<% cdls.each do |cdl| %>
			<li><%= link_to_unless_current(cdl.name, :action => 'show_cdls', :id => cdl.id) %></li>
			<% end %>
		</ul>
	</li>
	</li>
</ul>